* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('pic/05.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 确保图片覆盖整个元素，同时保持宽高比 */
    background-repeat: no-repeat; /* 不重复显示图片 */
    background-position: center center; /* 图片自动居中 */
    background-attachment: fixed; /* 背景图片固定，不随滚动条滚动 */
 
    background-color: #787fd5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-size: 12px; /* 默认字体大小 */
    font-weight: 400; /* 默认字体重量 */
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 12px;
    font-weight: 400;
}

ul, ol {
    font-size: 16px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.blinds {
    display: flex;
    gap: 5px;
    width: 80%;
    max-width: 1200px;
}

.blinds li {
    transition: all 0.5s ease;
    position: relative;
    width: 16.6666%; /* 初始宽度，除最后一个外 */
    height: 400px; /* 高度与图片高度相同 */
    list-style-type: none;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1); /* 半透明白色背景 */
    backdrop-filter: blur(2px); /* 毛玻璃效果 */
}

.blinds li img {
    width: auto; /* 图片原始宽度 */
    height: 100%; /* 图片高度与盒子高度相同 */
    object-fit: cover;
    position: absolute;
    left: 0; /* 默认显示图片的左侧部分 */
}

.blinds li:first-child {
    width: 70%; /* 最后一个盒子始终展开 */
}

.blinds li.expand {
    width: 70%; /* 扩展盒子宽度 */
}

.blinds li.shrink {
    width: 5%; /* 收缩其他盒子 */
}

.blinds li iframe {
    width: 100%; /* 让iframe宽度填满整个列表项 */
    height: 100%; /* 让iframe高度填满整个列表项 */
}

.text-container {
    padding: 10px; /* 内边距 */
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100%; /* 确保容器占满父元素的高度 */
    background: rgba(255, 255, 255, 0.3); /* 半透明白色背景 */
    backdrop-filter: blur(2px); /* 毛玻璃效果 */
}




